.form-group.import-url-data
  = f.label :import_url, class: 'label-light' do
    %span Git repository URL

  = f.text_field :import_url, autocomplete: 'off', class: 'form-control', placeholder: 'https://username:password@gitlab.company.com/group/project.git'

  .well.prepend-top-20
    %ul
      %li
        The repository must be accessible over <code>http://</code>, <code>https://</code> or <code>git://</code>.
      %li
        If your HTTP repository is not publicly accessible, add authentication information to the URL: <code>https://username:password@gitlab.company.com/group/project.git</code>.
      %li
        The import will time out after #{time_interval_in_words(Gitlab.config.gitlab_shell.git_timeout)}.
        For repositories that take longer, use a clone/push combination.
      %li
        To migrate an SVN repository, check out #{link_to "this document", help_page_path('user/project/import/svn')}.
      %li
        The Git LFS objects will <strong>not</strong> be imported.
      %li
        Once imported, repositories can be mirrored over SSH. Read more
        = link_to 'here', help_page_path('/workflow/repository_mirroring.md', anchor: 'ssh-authentication')

= render 'shared/ee/import_form', f: f
